.infobox {
    color: white;
    border: 2px solid darkslategrey;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 80px;
    cursor: pointer;
}

.infobox--selected {
    border-top: 10px solid greenyellow;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

