.rankdeath {
    height: 300px;
    color: whitesmoke;
    flex: 0.5;
}

.titleWrap > h1 {
    color: red;
}

.titleWrap > h2 {
    color: red;
}

.scope {
    height: 226px;
    overflow: auto;
}

.titleWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.deathItem {
    padding: 3px 0;
    border-bottom: 1px solid gray;
}

.deathDigit {
    padding-left: 3px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #5C5C5C;
}

::-webkit-scrollbar-track {
    background: #404040;
}