.app__stats {
    display: flex;
    justify-content: space-around;
}

.app__header {
    display: flex;
    justify-content: space-evenly;
}

.app__header > h1 {
    color: white;
}

.app__content {
    display: flex;
    flex-direction: column;
    flex: 0.7;
}

.app__table {
    flex: 0.3;
    display: flex;
    flex-direction: column;
}

.app__rankwrap {
    display: flex;
}

.app__belowWrap {
    display: flex;
}

