.app__stats {
    display: flex;
    flex: 0.7;
    justify-content: space-around;
}

.app__header {
    display: flex;
    justify-content: space-evenly;
}

.app__header > h1 {
    color: white;
}

.app__content {
    display: flex;
}

.app__table {
    flex: 0.3;
    display: flex;
}

